<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to my website showing a collection of DevOps terms and their brief description.</p>
    <table class="table table-bordered
        <tr>
          <th scope="col"></th>
          <th scope="col">ID#</th>
          <th scope="col">TERM</th>
          <th scope="col">DESCRIPTION</th>
          <th scope="col">REFERENCE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Digital literacy</td>
          <td>Digital literacy is an individual's ability to find, evaluate, and communicate information by utilizing typing or digital media platforms. It is a combination of both technical and cognitive abilities in using information and communication technologies to create, evaluate, and share information.</td>
          <td>Digital Literacy". Welcome to ALA's Literacy Clearinghouse. 2017-01-19. Retrieved 2020-10-22.</td>
        </tr>
        <tr>
          <th scope="">2</th>
          <td>DevOps</td>
          <td>DevOps is a combination of software development (dev) and operations (ops). DevOps integrates and automates the work of software development (Dev) and IT operations (Ops) as a means for improving and shortening the systems development life cycle.</td>
          <td>Courtemanche, Meredith; Mell, Emily; Gills, Alexander S. "What Is DevOps? The Ultimate Guide". TechTarget. Retrieved 2023-01-22.</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td >Wall of Confusion</td>
          <td>It refers to the phenomena where one group in a value stream approaches their job as complete when they've passed it onto the next group.</td>
          <td>https://levelup.gitconnected.com/the-wall-of-confusion-623057a4dd26</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td >organizational silos</td>
          <td>Bridge the gap between teams by encouraging them to work together toward a shared company vision. This reduces friction between teams and increases communication and collaboration.</td>
          <td>From Deakin sync (Madamanchi (2021:Ch1))</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td >Microservice concept</td>
          <td>Microservices is an architectural design for building a distributed application using containers. This architecture allows for each service to scale or update without disrupting other services in the application.</td>
          <td>https://avinetworks.com/glossary/microservice/#:~:text=Microservice.</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td >Commercial Off the Shelf (COTS)</td>
          <td>Commercial off-the-shelf or commercially available off-the-shelf (COTS) products are packaged or canned (ready-made) hardware or software, which are adapted aftermarket to the needs of the purchasing organization, rather than the commissioning of custom-made.</td>
          <td>: 2.101 Definitions", U.S. Federal Acquisition Regulations, retrieved 2022-06-22</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td >Technical Debt</td>
          <td>In software development, or any other IT field (e.g., Infrastructure, Networking, etc.) technical debt also known as design debt or code debt  is the implied cost of future reworking required when choosing an easy but limited solution instead of a better approach that could take more time.</td>
          <td>https://mentormate.com/blog/how-devops-metrics-pave-the-way-to-better-performance</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td >software delivery and operational (SDO)</td>
          <td>Means faster software delivery and time to market</td>
          <td>https://mentormate.com/blog/how-devops-metrics-pave-the-way-to-better-performance.</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td >Azure</td>
          <td>Microsoft Azure, often referred to as Azure, is a cloud computing platform run by Microsoft, which offers access, management, and development of applications and services through global data centers.</td>
          <td>Wells, John C. (2008). Longman Pronunciation Dictionary (3rd ed.). Longman. ISBN 978-1-4058-8118-0.</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td >Command Line Interfaces (CLI)</td>
          <td>A command-line interface (CLI) is a text-based user interface (UI) used to run programs, manage computer files and interact with the computer.</td>
          <td>https://www.techtarget.com/searchwindowsserver/definition/command-line-interfaceCLI</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td >Enterprise Context</td>
          <td>For developing strategies, making informed business decisions, and adjusting to change, an enterprise context is essential. It enables organisations to foresee difficulties, spot opportunities, and match their objectives with the situation at hand in order to succeed and experience long-term growth.</td>
          <td>Gartner_Inc  Definition of enterprise context - gartner information technology glossary, Gartner. Available at: https://www.gartner.com/en/information-technology/glossary/enterprise-context (Accessed: 05 August 2023). </td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td >Business demand</td>
          <td>A company must be aware of the specifications for the products it offers. The people who will use the product determine these specifications. A product that satisfies a specific functional and quality standard will be demanded by customers.</td>
          <td>Bush, T. (2023) What is ‘supply and demand’ in business?, PESTLE Analysis. Available at:  https://pestleanalysis.com/supply-and-demand-in-business/#:~:text=Simply%20put%2C%20demand%20is%20the,The%20price%20of%20the%20product (Accessed: 05 August 2023). </td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td >Minimum Viable Product (MVP)</td>
          <td>The simplest version of a product, known as a Minimum Viable Product (MVP), only has the fundamental features needed to satisfy beta testers and gather feedback. Its design enables the development team to quickly validate assumptions and test hypotheses in the context of actual usage, allowing them to improve and move forwards based on user feedback.</td>
          <td>Minimum viable product (MVP) (2022) Minimum Viable Product - What is a MVP and why is it important? Available at: https://www.productplan.com/glossary/minimum-viable-product/#:~:text=A%20minimum%20viable%20product%2C%20or,iterate%20and%20improve%20the%20product. (Accessed: 05 August 2023). </td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td >Definition of Done (DoD)</td>
          <td>A user story, task, or feature must satisfy all of the criteria in the Definition of Done (DoD) before it can be deemed finished and prepared for release. It guarantees a common understanding among the members of a development team regarding the standard of excellence and thoroughness anticipated in their work.</td>
          <td>The definition of done: What product managers need to know (2021) The Agile Definition of Done: What Product Managers Need to Know. Available at: https://www.productplan.com/learn/agile-definition-of-done/#:~:text=%E2%80%9CThe%20definition%20of%20done%20(DoD,of%20done%20to%20ensure%20quality. (Accessed: 05 August 2023). </td>
        </tr>
        <tr>
          <th scope="row">15</th>
          <td >Everything-as-Code</td>
          <td>The idea of "Everything-as-Code" refers to the treatment of various software development and infrastructure management processes, such as configuration, provisioning, deployment, and testing, as code artefacts. This method calls for the use of programming languages, automation tools, and version control systems to define and manage these aspects in a standardised and repeatable way.</td>
          <td>Octopus Deploy What is everything as code?, Octopus Deploy. Available at: https://octopus.com/blog/what-is-everything-as-code#:~:text=Everything%20as%20Code%20(EaC)%20is,seen%20benefits%20of%20EaC%20firsthand. (Accessed: 05 August 2023). </td>
        </tr>
        <tr>
          <th scope="row">16</th>
          <td >IT Service Management (ITSM)</td>
          <td>The phrase "IT service management" (ITSM) refers to a group of policies, standards, and practises that a business uses to plan, organise, deliver, control, and monitor the information technology (IT) services it offers to its customers. It places a focus on integrating IT services with business needs, ensuring effective and efficient service delivery, and continuously improving the IT service lifecycle.</td>
          <td>Atlassian  What is ITSM? A guide to IT service management, Atlassian. Available at: https://www.atlassian.com/itsm (Accessed: 05 August 2023). </td>
        </tr>
        <tr>
          <th scope="row">17</th>
          <td >Continuous integration (CI)</td>
          <td>A software development technique called continuous integration (CI) automatically and frequently merges code updates from various contributors into a common repository. For the purpose of identifying integration problems and bugs early in the development cycle, each merge initiates an automated build and testing process.</td>
          <td>Atlassian  What is continuous integration, Atlassian. Available at: https://www.atlassian.com/continuous-delivery/continuous-integration (Accessed: 05 August 2023). </td>
        </tr>
<tr>
          <th scope="row">18</th>
          <td >Continuous delivery (CD)</td>
          <td>Software updates are automatically built, tested, and prepared for production deployment using continuous delivery (CD), which is an extension of continuous integration. It focuses on making sure the software is always in a deployable state, enabling teams to release updates to production whenever they see fit.</td>
          <td>Atlassian  Continuous Integration vs. delivery vs. deployment, Atlassian. Available at: https://www.atlassian.com/continuous-delivery/principles/continuous-integration-vs-delivery-vs-deployment (Accessed: 05 August 2023). </td>
        </tr>
<tr>
          <th scope="row">19</th>
          <td >Customer-centric action</td>
          <td>A business or organisation that prioritises the needs, preferences, and satisfaction of its customers is said to be acting in a customer-centric manner. To provide useful and individualised experiences, it entails actively comprehending and addressing customer requirements, feedback, and expectations.</td>
          <td>https://www.gartner.com/en/marketing/glossary/customer-centricity#:~:text=Customer%20centricity%20demands%20that%20the,customer%20satisfaction%2C%20loyalty%20and%20advocacy.</td>
        </tr>
<tr>
          <th scope="row">20</th>
          <td >Cross-functional autonomous teams</td>
          <td>During the development process, teams must be capable of taking independent decisions. Teams of people working cooperatively on a task or project from various disciplines and areas of expertise are referred to as cross-functional autonomous teams. These teams can act swiftly in response to difficulties and opportunities because they have the freedom and authority to manage their tasks and make decisions without constant supervision.</td>
          <td>https://www.pufferfish.solutions/post/cross-functional-autonomous-teams-devops-principle-4</td>
        </tr>
        <tr>
          <th scope="row">21</th>
          <td >Behavior-Driven Design (BDD)</td>
          <td>A software development methodology called Behavior-Driven Design (BDD) places a strong emphasis on communication between programmers, testers, and business stakeholders.</td>
          <td>Krief, M., 2022, Learning DevOps - Second Edition / Mikael Krief, Packt Publishing, viewed 27 August 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=55ac4d72-aa4e-320d-bd84-53d01ad956b9>.</td>
        </tr>
        <tr>
          <th scope="row">22</th>
          <td >test-driven design (TDD).</td>
          <td>Software developers who use Test-Driven Development (TDD) write tests before writing any actual code. The process is known as "Red-Green-Refactor" and involves writing a failing test (Red) to identify a new requirement or bug, writing the bare minimum of code (Green) to make the test pass, and then refining the code while making sure all tests continue to pass.</td>
          <td>Krief, M., 2022, Learning DevOps - Second Edition / Mikael Krief, Packt Publishing, viewed 27 August 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=55ac4d72-aa4e-320d-bd84-53d01ad956b9>.</td>
        </tr>
        <tr>
          <th scope="row">23</th>
          <td >Container</td>
          <td>Containers are small packages that contain the application code as well as the libraries and runtimes (usually specific versions) needed to run your software services.</td>
          <td>Schmitt, J. (2022) Docker image vs container: What are the differences?, CircleCI. Available at: https://circleci.com/blog/docker-image-vs-container/?utm_source=google&amp;utm_medium=sem&amp;utm_campaign=sem-go ogle-dg--japac-en-dsa-tROAS-auth-brand&amp;utm_term=g_-_c__dsa_&amp;utm_content=&amp;gclid=CjwKCAjwxaanBhBQEiwA84TVXOA5xJg_G45dJHh4Bzy _NkkdVkUdygXqO81VX5rr3m4kREoVlJVDRBoCrDQQAvD_BwE (Accessed: 27 August 2023). </td>
        </tr>
        <tr>
          <th scope="row">24</th>
          <td >Virtual Machines (VMs)</td>
          <td>A virtual machine (VM) offers an isolated and separate instance of the operating system to an application.A virtual machine simulates a physical computer using software.</td>
          <td>vmware https://www.vmware.com/au/topics/glossary/content/ virtual-machine.html Accessed 27 august 2023</td>
        </tr>
        <tr>
          <th scope="row">25</th>
          <td >Docker</td>
          <td>One of the most popular container technologies currently in use is Docker. Once Docker is installed on your system, it can create Docker Images by using code descriptions from a Dockerfile.</td>
          <td>Schmitt, J. (2022) Docker image vs container: What are the differences?, CircleCI. Available at: https://circleci.com/blog/docker-image-vs-container/?utm_source=google&amp;utm_medium=sem&amp;utm_campaign=sem-google-dg--japac-en-dsa -tROAS-auth-brand&amp;utm_term=g_-_c__dsa_&amp;utm_content=&amp;gclid=CjwKCAjwxaanBhBQEiwA84TVXOA5xJg_G45dJHh4Bzy_NkkdVkUdygXqO81VX5rr3m4kREoVlJVDRBoCrDQQAvD_BwE (Accessed: 27 August 2023). </td>
        </tr>
        <tr>
          <th scope="row">26</th>
          <td >docker tag</td>
          <td>You can give the same Docker image a different name and/or version by using the "docker tag" command to create a new tag for it. like:  "docker tag myapp:latest myapp:v2"</td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 27 august 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb></https:></td>
        </tr>
        <tr>
          <th scope="row">27</th>
          <td >docker push</td>
          <td>When Docker images are uploaded to a container registry, they become available for distribution and deployment using the "docker push" command. push  docker [OPTIONS] NAME[:TAG]</td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 27 august 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb></https:></td>
        </tr>
        <tr>
          <th scope="row">28</th>
          <td >Microservice</td>
          <td>A software architecture style called a "microservice" is one in which an application is made up of loosely linked, independently deployable, and scalable services that talk to one another through a network. </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 27 august 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">29</th>
          <td >docker compose</td>
          <td>Docker Compose is a tool that makes it easier to manage linked services, their configurations, and network settings by designing and executing multi-container Docker applications using a single YAML file.
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 27 august 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">30</th>
          <td >Container Network</td>
          <td>Within the operating system, containers are unique network entities. Network drivers, which are software-defined networks, are used by Docker runtimes to define networking between containers. 
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 27 august 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">31</th>
          <td >direct messaging</td>
          <td> When sending a message, it is known if the message was received (acknowledged). An example here is a telephone call.
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 11 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb></https:></td>
        </tr>
        <tr>
          <th scope="row">32</th>
          <td >indirect messaging</td>
          <td> When sending a message, the message is commonly held an intermediary and as such it is not known when the message is actually received (no acknowledgement). An example here is a posted letter.
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 11 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">33</th>
          <td >Continuous Integration</td>
          <td> Continuous Integration (CI) is a development technique in which frequent automatic integration of changed code into a shared repository is used.
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 11 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">34</th>
          <td >Continuous Deployment</td>
          <td> After passing automated tests, code updates are automatically sent to production settings using the software development method known as continuous deployment (CD).
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 11 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">35</th>
          <td >Kubernetes</td>
          <td> A portable, adaptable, open-source platform called Kubernetes allows for declarative setup and automation of containerized workloads and services. 
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 11 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">36</th>
          <td >Service discovery and load balancing</td>
          <td>If traffic to a container is high, Kubernetes is able to load balance and distribute the network traffic so that the deployment is stable.
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 11 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">37</th>
          <td >Automated rollbacks and rollouts</td>
          <td>With the use of automation, Kubernetes allows you to deploy new containers, delete any that are already in use, and migrate all of their resources to the new containers.
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 11 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">38</th>
          <td >automatic packing of bins</td>
          <td>A cluster of nodes that Kubernetes can use to carry out containerized tasks is provided by you.To make the best use of your resources, Kubernetes can fit containers onto your nodes.
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 11 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">39</th>
          <td >self-healing Kubernetes</td>
          <td> When a container fails, self-healing Kubernetes restarts it, replaces it, kills it if it doesn't answer to your user-defined health check, and waits to advertise it to clients until it is prepared to serve.
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 11 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">40</th>
          <td >Management of secrecy and configuration</td>
          <td>You can handle and store sensitive data like passwords, OAuth tokens, and SSH keys using Kubernetes. Without having to recompile your container images, secrets and application configuration may be deployed and updated.
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 11 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">41</th>
          <td>POD</td>
          <td>A Pod, which consists of a few containers with access to shared storage and network resources, is the smallest deployable computing unit that can be formed and managed in Kubernetes.
          </td>
          <td>www.oreilly.com. (n.d.). DevOps: Continuous Delivery, Integration, and Deployment with DevOps - DevOps: Continuous Delivery, Integration, and Deployment with DevOps [Book]. [online] Available at: https://learning.oreilly.com/library/view/devops-continuous-delivery/9781789132991/pr01.html [Accessed 18 Sep. 2023].

            ‌</td>
        </tr>
        <tr>
          <th scope="row">42</th>
          <td >Kubelet</td>
          <td>that ensures containers are running properly in a Pod
          </td>
          <td>www.oreilly.com. (n.d.). DevOps: Continuous Delivery, Integration, and Deployment with DevOps - DevOps: Continuous Delivery, Integration, and Deployment with DevOps [Book]. [online] Available at: https://learning.oreilly.com/library/view/devops-continuous-delivery/9781789132991/pr01.html [Accessed 18 Sep. 2023].

            ‌</td>
        </tr>
        <tr>
          <th scope="row">43</th>
          <td >container runtime</td>
          <td>such as traditional Docker or specialised lightweight container runtimes
          </td>
          <td>www.oreilly.com. (n.d.). DevOps: Continuous Delivery, Integration, and Deployment with DevOps - DevOps: Continuous Delivery, Integration, and Deployment with DevOps [Book]. [online] Available at: https://learning.oreilly.com/library/view/devops-continuous-delivery/9781789132991/pr01.html [Accessed 18 Sep. 2023].

            ‌</td>
        </tr>
        <tr>
          <th scope="row">44</th>
          <td >Terraform</td>
          <td>The intended state of your infrastructure may be specified in a configuration file utilizing Terraform's declarative approach to infrastructure definition and configuration. Typically authored in HashiCorp Configuration Language (HCL.
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 18 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">45</th>
          <td >Kubectl </td>
          <td>A command-line tool for communicating with Kubernetes clusters is called Kubectl. It gives customers the ability to deploy, scale, update, and debug containerized apps within Kubernetes.
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 18 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">46</th>
          <td >HCL</td>
          <td>HashiCorp Configuration Language (HCL) is a domain-specific language used for writing configuration files in tools like Terraform. It is designed to be human-readable and easy to write
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 18 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">47</th>
          <td >kubernetes_deployment</td>
          <td>This describes the number of pod replicas that should be running
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 18 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">48</th>
          <td >kubernetes_service</td>
          <td>This describes the abstraction which defines a logical set of pods and a policy by which to access them (LoadBalancer => public IP) 
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 18 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">49</th>
          <td >null_resource</td>
          <td>ses a null_resource to  perform commands to build the container image
            • Docker build
            • Docker login
            • Docker push
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 18 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
        <tr>
          <th scope="row">50</th>
          <td >backend.tf</td>
          <td>This is the details of the existing storage resources that will be used to hold the terraform state as run by BitBucket itself. Create this storage through the Azure Dashboard first!
          </td>
          <td>Davis, A. 2021, Bootstrapping Microservices with Docker, Kubernetes, and Terraform / Davis, Ashley, Manning Publications viewed 18 September 2023, <https://discovery.ebsco.com/linkprocessor/plink?id=db0e7980-bdfb-3d3b-b4e9-127c44a7aebb</td>
        </tr>
      </tbody>
    </table>
    
  </body>
</html>
