<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to my website showing a collection of DevOps terms and their brief description.</p>
    <table class="table table-bordered
        <tr>
          <th scope="col"></th>
          <th scope="col">ID#</th>
          <th scope="col">TERM</th>
          <th scope="col">DESCRIPTION</th>
          <th scope="col">REFERENCE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Digital literacy</td>
          <td>Digital literacy is an individual's ability to find, evaluate, and communicate information by utilizing typing or digital media platforms. It is a combination of both technical and cognitive abilities in using information and communication technologies to create, evaluate, and share information.</td>
          <td>Digital Literacy". Welcome to ALA's Literacy Clearinghouse. 2017-01-19. Retrieved 2020-10-22.</td>
        </tr>
        <tr>
          <th scope="">2</th>
          <td>DevOps</td>
          <td>DevOps is a combination of software development (dev) and operations (ops). DevOps integrates and automates the work of software development (Dev) and IT operations (Ops) as a means for improving and shortening the systems development life cycle.</td>
          <td>Courtemanche, Meredith; Mell, Emily; Gills, Alexander S. "What Is DevOps? The Ultimate Guide". TechTarget. Retrieved 2023-01-22.</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td >Wall of Confusion</td>
          <td>It refers to the phenomena where one group in a value stream approaches their job as complete when they've passed it onto the next group.</td>
          <td>https://levelup.gitconnected.com/the-wall-of-confusion-623057a4dd26</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td >organizational silos</td>
          <td>Bridge the gap between teams by encouraging them to work together toward a shared company vision. This reduces friction between teams and increases communication and collaboration.</td>
          <td>From Deakin sync (Madamanchi (2021:Ch1))</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td >Microservice concept</td>
          <td>Microservices is an architectural design for building a distributed application using containers. This architecture allows for each service to scale or update without disrupting other services in the application.</td>
          <td>https://avinetworks.com/glossary/microservice/#:~:text=Microservice.</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td >Commercial Off the Shelf (COTS)</td>
          <td>Commercial off-the-shelf or commercially available off-the-shelf (COTS) products are packaged or canned (ready-made) hardware or software, which are adapted aftermarket to the needs of the purchasing organization, rather than the commissioning of custom-made.</td>
          <td>: 2.101 Definitions", U.S. Federal Acquisition Regulations, retrieved 2022-06-22</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td >Technical Debt</td>
          <td>In software development, or any other IT field (e.g., Infrastructure, Networking, etc.) technical debt also known as design debt or code debt  is the implied cost of future reworking required when choosing an easy but limited solution instead of a better approach that could take more time.</td>
          <td>https://mentormate.com/blog/how-devops-metrics-pave-the-way-to-better-performance</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td >software delivery and operational (SDO)</td>
          <td>Means faster software delivery and time to market</td>
          <td>https://mentormate.com/blog/how-devops-metrics-pave-the-way-to-better-performance.</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td >Azure</td>
          <td>Microsoft Azure, often referred to as Azure, is a cloud computing platform run by Microsoft, which offers access, management, and development of applications and services through global data centers.</td>
          <td>Wells, John C. (2008). Longman Pronunciation Dictionary (3rd ed.). Longman. ISBN 978-1-4058-8118-0.</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td >Command Line Interfaces (CLI)</td>
          <td>A command-line interface (CLI) is a text-based user interface (UI) used to run programs, manage computer files and interact with the computer.</td>
          <td>https://www.techtarget.com/searchwindowsserver/definition/command-line-interfaceCLI</td>
        </tr>
      </tbody>
    </table>
    
  </body>
</html>
